* {
    box-sizing: border-box;
    margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}



.hidden {
    display: none;
}

.horizon-bottom {
  border-bottom-style: solid;
}

.horizon-top {
  border-top-style: solid;
}

.border-right {
  border-right-style: solid;
}

.border-left {
  border-left-style: solid;
}

.content {
  width: 1200px;
  height: 700px;
  border: solid;
}

.content-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}